In [5]:
import pandas as pd 
import pymssql as pymsql
import pymysql as mysql

In [6]:
try: sqlCon = pymsql.connect(server = 'ZAGA', user = 'root', password = 'nintendo123', database = 'AdventureWorks2019'); print ('Succesfully connected to SQL Server')
except: print ('Cannot connect to SQL Server')

Cannot connect to SQL Server

In [7]:
try: mySqlCon = mysql.connect(host='localhost', user='root', password='nintendo123', database='mydb'); print ('Succesfully connected to MySQL Server')
except: print ('Cannot connect to MySQL Server')

Succesfully connected to MySQL Server

In [8]:
SqlQueryString = 'SELECT * FROM Purchasing.Vendor;'

SqlQuery = pd.read_sql_query(SqlQueryString, sqlCon)

SqlQuery

,BusinessEntityID,AccountNumber,Name,CreditRating,PreferredVendorStatus,ActiveFlag,PurchasingWebServiceURL,ModifiedDate
0,1492,AUSTRALI0001,Australia Bike Retailer,1,True,True,None,2011-12-23
1,1494,ALLENSON0001,Allenson Cycles,2,True,True,None,2011-04-25
2,1496,ADVANCED0001,Advanced Bicycles,1,True,True,None,2011-04-25
3,1498,TRIKES0001,"Trikes, Inc.",2,True,True,None,2012-02-03
4,1500,MORGANB0001,Morgan Bike Accessories,1,True,True,None,2012-02-02
...,...,...,...,...,...,...,...,...
99,1690,BLOOMING0001,Bloomington Multisport,1,True,True,None,2011-12-23
100,1692,CARLSON0001,Carlson Specialties,2,True,True,None,2011-12-24
101,1694,COMPETE0002,"Compete, Inc.",1,True,True,None,2011-12-24
102,1696,CHICAGO0001,Chicago City Saddles,1,True,True,None,2011-12-24
103,1698,BUSINESS0001,Business Equipment Center,2,True,True,None,2011-12-23